Section: internet
Priority: optional
Version: 1.0.0
Maintainer: Vitor Guia <vitor.guia@vitortec.com>
Homepage: http://vitortec.com
Package: Wanlin
Installed-Size: 52
Architecture: amd64
Description:Wanlin - Web application as native Linux
Copyright: 2011-2018 Vitortec.com <contato@vitortec.com>
License: GPL-3
